<h1>New Episode Commented Out</h1>
<!-- 
should render form here if we need the page. It was causing an error, because the form has been shanged to work on the Star#show page. 

<%= link_to 'Back', episodes_path %> -->
